*{
  margin: 0;
}
:root{
  --primary-color: darkBlue;
  --secondary-color: rgb(58, 57, 57);
  --tertiary-color: cyan;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none;
}
/*Header*/
header{
  background-color: var(--secondary-color);
  padding: 10px 35px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}
header h1{
color: var(--secondary-color);
background-color: var(--tertiary-color);
margin: 0;
padding-left: 75px;
padding-right: 10px;
padding-top: 0;
padding-bottom: 0;
font-size: 50px;
}
header a {

  color: var(--tertiary-color);
}
header nav {
  margin: 7px 0;
}
header nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}
header nav ul li a{
  color: var(--tertiary-color);
  border-bottom: 3px solid;
  font-size: x-large;
  padding: 10px 15px;
  margin-left: 7px ;
}
.hero h2{
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}
/*content*/
.content{
  text-align: right;
  color: var(--primary-color);
  display: flex;
  margin-top: 50px;
}
.content h1{
  width: 18%;
  flex-shrink: 0;
  font-size: 350%;
  margin-left: 100px;
  padding-right: 10px;
  padding-left: 50px;
}
.right-column{
  border-color: var(--primary-color);
  border-left: 3px solid var(--primary-color);
  padding-left: 55px;
}

.right-column p{
  text-align: left;
  padding-right: 90px;
  color: var(--secondary-color);
  line-height: 1.75;
}

/*work*/
#work{
}
.work{
  display: flex;
  flex-shrink: 1;
  padding-right: 100px;
  flex-wrap: wrap;
  flex-direction: row;
}

.work-display
{
  position: relative;
}

.work a{
  margin-right: 200;

}

.hover{
  background-color: white;
  z-index: 9999;
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.hover:hover{
  opacity: 50%;
}

.work img{
  border: 5px solid;
  margin-right: 15px;
  border-color: var(--tertiary-color);
  margin-top: 15px;

}
.work h2{
  position: absolute;
  bottom: 80px;
  left: 4px;
  background-color: var(--tertiary-color);
  padding:20px 10px;
  color: black;
}
.main-website a{
}
 .main-website img{  

}

/*contacts*/
.contacts{
  flex-wrap: wrap;
  display: flex;
  margin-right: 90px;
  align-content: center;
}
.contact{
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 3px solid;
  border-color: var(--primary-color);
  color: black;
  font-size: large;
  font-style: normal;
}
.contact a{
 color: black;
}